#log-in-page.log-in-page
  .log-in-page__inner.clearfix
    .log-in-page__inner--left.log-in-page__header
      %h1 ログイン
    .log-in-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-label
            = f.label :メールアドレス
          .field-input
            = f.email_field :email, autofocus: true
          .field
            .field-label
              = f.label :パスワード
            .field-input
              = f.password_field :password, autocomplete: "off"
          .actions
            = f.submit "ログイン", class: 'log_in_btn'
          .sign-up-page
            ↓まだアカウントをお持ちでない方はこちらへ↓
          = render "devise/shared/links"
