.topbar
  %p.sitename
    = link_to image_tag("zozotown_logo.jpg"), root_path

  = link_to new_user_session_path do
    %i.fa.fa-user
  = link_to new_user_registration_path do
    %i.fa.fa-sign-out
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn2'
  = link_to new_item_path(current_user) do
    %i.fa.fa-cog

.subbar
  %p.all
    すべて
  %p.men
    メンズ
  %p.women
    レディース
  %p.kids
    キッズ
