= render 'topbar'

.shopping
  - if @item.count >= 1
    .cart
      .cart__title
        ご注文ありがとうございます。<br>
        チェックしたアイテム
      .cart__info
        .cart__info_image
          = image_tag @item.image
        .cart__info_detail
          .cart__info_detail_name
            商品名 #{ @item.name }
          .cart__info_detail_count
            在庫数: #{ @item.count }
          .cart__info_detail_description
            商品概要: #{ @item.description }
          .cart__info_detail_price
            小計　¥ #{ @item.price }
          = render 'likes/like', locals: {item: @item}

    .bill
      .bill__pay
        商品金額 ¥ #{ @item.price }
      .bill__postage
        送料　　¥250
      .bill__commission
        手数料　¥250
      .bill__sum
        合計金額 ¥ #{ @item.price + 500 }

    .check
      .check__complete
        = link_to  "この商品を購入する", item_orders_path(@item, name: @item.name, price: @item.price, image: @item.image ), method: :POST, class: "btn_submit"
      .check__return
        = link_to "購入をキャンセルする", root_path
    - @review.each do |review|
      .review
        .review__star_rate
          - if review.star_rate == 5
            ★★★★★
          - elsif review.star_rate == 4
            ★★★★
          - elsif review.star_rate == 3
            ★★★
          - elsif review.star_rate == 2
            ★★
          - else review.star_rate ==1
            ★
        .review__date
          #{review.created_at}
        .review__review
          #{review.review}
        .review__icon
          このレビューは参考になりましたか？

  - else @item.count = 0
    .sold-out
      .sold-out__title
        ご注文いただきました商品は現在品切れとなっております。<br>
        入荷までお待ちください。
      .sold-out__info
        .sold-out__info_image
          = image_tag("sold_out2.jpg")
        .sold-out__info_detail
          .sold-out__info_detail_name
            商品名: #{ @item.name }
          .sold-out__info_detail_count
            在庫数: #{ @item.count }
          .sold-out__info_detail_description
            商品概要: #{ @item.description }
          .sold-out__info_detail_price
            小計　¥ #{ @item.price }
          .sold-out__info_detail_link
            = link_to "前画面に戻る", root_path, class: "btn_return"
